#vertical-line {
  position: fixed;
  left: 40%; /* center it, adjust as needed */
  top: -20%;
  width: 4px;
  height: 150vh;
  background-color: black;
  transform: rotate(15deg);
  z-index: -1;
}

body {
  background-color: #FCEC0C;}