@import "tailwindcss";

@font-face {
  font-family: "Cyberpunk";
  src: url("./assets/cyber-horizon-font/CyberHorizon-ARAvL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: "Cyberpunk";
}