.responsive-image-card {
    width: 100%;
}

/* tablet */
@media (min-width: 768px) {
    .responsive-image-card {
        width: 300px;
        min-height: 500px;
    }
}

/* small laptop */
@media (min-width: 1024px) {
    .responsive-image-card {
        width: 320px;
        min-height: 450px;
    }
}

/* 1280px */
@media (min-width: 1280px) {
    .responsive-image-card {
        width: 390px;
        min-height: 430px;
    }
}

/* large laptop */
@media (min-width: 1536px) {
    .responsive-image-card {
        width: 490px;
        min-height: 550px;
    }
}

/* 1920px+ */
@media (min-width: 1920px) {
    .responsive-image-card {
        width: 610px;
        min-height: 700px;
    }
}

/* 2560px+ */
@media (min-width: 2560px) {
    .responsive-image-card {
        width: 750px;
        min-height: 750px;
    }
}